{% load staticfiles %}
<html>
    <head>
        <title>장수촌에 오신것을 환영합니다</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
          <!--
          {% if user.is_authenticated %}
              <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
              <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
              <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
          {% else %}
              <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
          {% endif %}
          -->
          <a href="/" ><img src="{% static "image/icon.png" %}" alt="icon" class="main-icon"></a>
          <table class="page-menu">
            <tr>
              <th><a href="/about" >장수촌에 대하여</a></th>
              <th><a href="/" >장수촌의 메뉴</a></th>
              <th><a href="/resolvation" >장수촌 예약</a></th>
              <th><a href="/gallery" >장수촌 갤러리</a></th>
              <th><a href="/map" >찾아오시는길</a></th>
            </tr>
          </table>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <div class="page-footer">
          <p><b>상호</b> 장수촌 | <b>대표</b> 아무개 | 홍길동 | <b>대표전화</b> 010-1234-5678</p>
          <p><b>주소</b> 충청남도 당진군 어딘면 무슨리 123-10번 | <b>주소</b> 충청남도 당진군 어딘면 무슨리 123-10번</p>
          <p><b>사업자등록번</b> 123-56-7890 | <b>개인정보관리책임자</b> abcedf@naver.com</p>
          <p>국민은행 1234-56-7890-1234</p>
        </div>
    </body>
</html>
