{% extends 'blog/base.html' %}

{% block content %}
<!--
  {% for about in abouts %}
      <div class="about">
          {% if post.image %}
          <img src="{{ about.image.url }}" alt="about_img" class="about-img">
          {% endif %}
          <p>{{ post.text|linebreaksbr }}</p>
      </div>
  {% endfor %}
  -->

  <div class="resolvation">
    <a href="/"><img src="media/phone_icon.png" alt="phone_icon" class="resolvation-img"> 010-1234-5678</a><br>
    <a href="/"><img src="media/mail_icon.png" alt="mail_icon" class="resolvation-img"> 장수촌@gmail.com</a><br>
    <a href="/"><img src="media/kakaotalk_icon.jpeg" alt="kakaotalk_icon" class="resolvation-img"> kakaotalk</a>
  </div>

{% endblock content %}
