.header-button-area {
    padding: 0px 0px 10px 0px;
}

.header-menu-area {
    width: 100%;
    margin-top: 110px;
    margin-bottom: 10px;
}

.header-logo {
}

.header-logo a{
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-size: 40pt;
}

.header-logo-icon {
    width: 55px;
    height: 55px;
}

.header-menu {
  align: center;
    width: 65%;
    margin-top: 20pt;
    margin-bottom: 10pt;
}

.header-menu th, .header-menu th a, .header-menu th a:visited, .header-menu th a:active {
    color: #ffffff;
    font-size: 10pt;
    text-decoration: none;
    text-align: center;
}

.page-footer {
    width: 100%;
    background-color: #ececec;
    color: #725728;
    font-size: 15pt;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.content-body {
  padding: 20px 20px 20px 20px;
  width: 100%;
  margin: auto;
}

.content {
  width: 60%;
  align: center;
  margin: auto;
}

h1, h2, h3, h4, p {
    color: #725728;
    font-family: 'Lobster', cursive;
}

.about h1, p {
    font-size: 10pt;
    color: #725728;
    font-family: 'Lobster', cursive;
}

.about h2{
    font-size: 15pt;
    color: #725728;
    font-family: 'Lobster', cursive;
}

.about h3, h4{
    font-size: 20pt;
    color: #725728;
    font-family: 'Lobster', cursive;
}

.content-title {
  color: #725728;
  font-size: 15pt;
}

.content-detail {
  color: #725728;
  font-size: 15pt;
}

.content-comment {
  color: #725728;
  font-size: 10pt;
}

.date {
    color: #725728;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 10px;
}

.comment {
    margin: 20px 0px 20px 0px;
}

.main-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.menu-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.about{
  margin-top: 10px;
}

.about-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.resolvation{
  margin-top: 10px;
}

.resolvation-img {
  display: block;
  width: 35pt;
  height: 35pt;
}
